body {
    min-height: 100vh;
}

.nav-bar {
    border: 1px solid;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    max-width: 80%;
    margin: auto;

    border: 1px solid;

    user-select: none;

}

.drop-down {
    cursor: pointer;
    padding: 1rem;
    position: relative;

    border: 1px solid;
}

.menu-content {
    position: absolute;
    top: 100%;
    left: 0;

    border: 1px solid;

    pointer-events: none;
    opacity: 0;
}

.link-container {
    padding: 1rem;
    border: 1px solid;

    min-width: 8rem;
}

.link-container>.menu-content {
    top: 0;
    left: 100%;
}

.active {
    pointer-events: all !important;
    opacity: 100% !important;
}


/* #region Image Carousel Styling */

.image-carousel-holder {
    margin: 5rem auto;
    display: flex;

    max-width: 70%;
}

.scroll {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;

    border: 1px solid;

    user-select: none;
    cursor: pointer;
}

.canvas {
    flex: 1;

}

.image-display {
    width: 100%;
    height: 25rem;

    border: 1px solid;
}

.image-display>img {
    /* max-height: 100%; */
    /* opacity: 100%; */
    width: 100%;
    height: 100%;
    opacity: 0%;
    pointer-events: none;
}

.image-locator {
    display: flex;
    justify-content: center;
    gap: 1rem;

    border: 1px solid;

}

.locator {
    width: 0.6rem;
    border: 0.125rem solid black;
    aspect-ratio: 1;
    /* background-color: black; */
    border-radius: 50%;
    cursor: pointer;
}

/* #endregion Image Carousel Styling */
